{% extends 'shared/_layout.html' %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="container">

<form class="form" method="post" action="{% url 'signup' %}" >{% csrf_token %}

    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">



    </div>

    <label>
        {{ register_form.username }}
        {{ register_form.username.errors }}
        <span>Username</span>
    </label>

    <label>
        {{ register_form.password }}
        {{ register_form.password.errors }}
        <span>Password</span>
    </label>
    <label>
        {{ register_form.confirm_password }}
        {{ register_form.confirm_password.errors }}
        <span>Confirm password</span>
    </label>
    <button type="submit" class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="{% url 'login' %}">Signin</a> </p>
</form>
    </div>
{% endblock %}
